@media screen and (max-width: 980px) {
  .table__header {
    display: none;
  }
  .table__body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .row-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .row-item::before {
    content: attr(data-label);
    display: flex;
    color: #b6b4c6;
  }
}

@media screen and (min-width: 980px) {
  .table__row {
    display: flex;
    align-items: center;
  }
}
