.table {
    padding: 4rem 0;
    &__wrapper.mobile {
        display: none;
    }
    &__header {
        background-color: #2D333D;
        padding: 2rem 3.2rem;
        color: #fff;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        border-radius: 7px;
        div {
            display: flex;
            align-items: center;
            &:nth-child(1) {
                width: 16rem;
                margin-right: 3.2rem;
            }
            &:nth-child(2) {
                width: 17.1rem;
                margin-right: 3.2rem;
            }
            &:nth-child(3) {
                width: 15rem;
                margin-right: 3.2rem;
            }
            &:nth-child(4) {
                width: 10.4rem;
                margin-right: 3.2rem;
            }
            &:nth-child(5) {
                width: 10.1rem;
                margin-right: 3.2rem;
                display: flex;
                justify-content: flex-end;
            }
            &:nth-child(6) {
                width: 13.5rem;
                margin-right: 3.2rem;
                display: flex;
                justify-content: flex-end;
                text-align: end;
            }
            &:nth-child(7) {
                width: 13.5rem;
                margin-right: 3.2rem;
                display: flex;
                justify-content: flex-end;
                text-align: end;
            }
            &:nth-child(8) {
                width: 7.5rem;
                display: flex;
                justify-content: flex-end;
            }
            
        }
        
    }

    &__row {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        line-height: 1.8rem; 
        color: $grey;
        padding: 1.2rem 3.2rem;
        border-radius: 7px;
        background: #242B35;
        margin-top: 8px;
        &_taskname {
           width: 16rem;
           color: $pink;
           margin-right: 3.2rem;
        }
        &_developer {
            width: 17.1rem;
            margin-right: 3.2rem;
            a {
                text-decoration: none;
                color: $pink;
            }
        }
        &_worktype {
            width: 15rem;
            margin-right: 3.2rem;
            a {
                text-decoration: none;
                color: $pink;
            }
        }
        &_status {
            width: 10.4rem;
            margin-right: 3.2rem;
        }
        &_estimation {
            width: 10.1rem;
            text-align: end;
            margin-right: 3.2rem;
        }
        &_totaltime {
            width: 13.5rem;
            text-align: end;
            margin-right: 3.2rem;
        }
        &_spenttime {
            width: 13.5rem;
            text-align: end;
            margin-right: 3.2rem;
        }
        &_efficiency {
            width: 7.5rem;
            text-align: end;
        }
    }

    &__sum {
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 1.2rem;
        margin-top: 8px;
        padding: 1rem 3.2rem;
        background: #2D333D;
        border-radius: 7px;
        &_value {
            margin-right: 92.5rem;
        }
        &_totaltime {
            margin-right: 14.2rem;
        }
        &_spenttime {
            margin-right: 3.5rem;
        }
    }

    &__pagination {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        margin-left: 3.5rem;

        &_text {
            font-size: 1.4rem;
            color: $grey;
            margin-right: 1.2rem;
        }
        
        select {
            padding: 1rem 2.8rem 1rem 0.8rem;
            background: #242B35;
            border: 1px solid #3D444E;
            border-radius: 7px;
            color: $grey;
            appearance: none;
            background-image: url('../img/chevron-down.png');
            background-repeat: no-repeat, repeat;
            background-position: right .7em top 50%, 0 0;
            background-size: 1.6rem auto, 100%; 
            outline: none;
            cursor: pointer;
            margin-right: 1.2rem;
        }

        &_pages {
            font-size: 1.4rem;
            color: $grey;
            margin-right: 1.2rem;
        }

        &_wrapper {
            display: flex;
            align-items: center;
            padding: 1rem 1.2rem;
            background: #242B35;
            border: 1px solid #3D444E;
            border-radius: 7px;
            button {
                border: none;
                background: transparent;
            }
            button[disabled] {
                opacity: 0.5;
                cursor: not-allowed;
            }
            .prev {
                transform: rotate(180deg);
                margin-right: 0.8rem;
            }
            ul {
                list-style-type: none;
                display: flex;
            }
            
            .next {
                border: none;
                background: transparent;
            }

            .next, .prev {
                display: inline-flex;
                align-items: center;
                cursor: pointer;
            }
            
        }

        &_button {
            margin-right: 0.8rem;
            
            button {
                padding: 0.4rem 0.8rem;
                color: $grey;
                &:hover {
                    cursor: pointer;
                    background-color: orange;
                    border-radius: 4px;
                }
            }
            button.active {
                background: #8F7FFF;
                border-radius: 4px;
            }
            
        }
    }
}

.divider {
    height: 1.2rem;
    width: 100%;
    background-color: $bg;
    border-radius: 7px;
    margin-top: 8px;
}

@media screen and (max-width: 576px) {
    .table {
        padding: 4rem 0;
        &__wrapper {
            display: none;
        }
        &__wrapper.mobile {
            display: block;
            
        }
        &__card {
            padding: 2rem;
            background:  #242B35;
            border-radius: 7px;
            margin-bottom: 2rem;
            &_item {
                @include sb;
                color: $grey;
                font-size: 1.2rem;
                margin-top: 1.5rem;
            }
            &_title {
                width: 10rem;
                line-height: 2.1rem;
            }
            &_info {
                width: 8rem;
                text-align: center;
            }
        }
    }
}